/*
/*/
*.log
!/.gitignore
!/.gitlab-ci.yml
!/data-raw/
!/DESCRIPTION
!/inst/
!/LICENSE.md
!/man/
!NAMESPACE
!/R/
!/ci/
!/README.md
!/tests/
/.Rhistory
/.Rproj*
/.RData
!/vignettes/
/vignettes/*
!/vignettes/*.Rmd
tests/testthat/testdata
tests/testthat/plots
geodata
csv
plots
!/*.Rproj
.Rproj*
*.rds
/.vscode
!/.lintr
.Rproj.user
doc
Meta
