inst/application/data
data
*.Rproj
.Rproj*
.RDataTmp
.Rhistory
inst/doc
geodata
vignette/geodata
vignette/GSE19188
tests/testthat/testdata
tests/testthat/plots
.Rproj.user
.RData
vignettes/geodata
vignettes/plots
vignettes/csv
vignettes/GSE19188
vignettes/preview.dir
*.rds
metadatadir
metadata
vignettes/metadata
vignettes/*.csv
vignettes/figure
vignettes/tables
csv
plots
tables
vignettes/.build.timestamp
