/*
/*/
*.log
!/.gitignore
!/.gitlab-ci.yml
!/data-raw/
!/DESCRIPTION
!/inst/
!/LICENSE.md
!/man/
!NAMESPACE
!/R/
!/ci/
!/README.md
!/tests/
/.Rhistory
/*.Rproj
/.Rproj*
/.RData
!/vignettes/
/vignettes/*
!/vignettes/*.Rmd
.Rproj.user
