*.html
*.R
sigident-Howto_Microarray-Dateien/
inst/application/data
data
vignettes/geodata
vignettes/plots
vignettes/csv
vignettes/GSE19188
vignettes/preview.dir
!/.gitlab-ci.yml
geodata
csv
plots
*.Rproj
.Rproj*
.Rhistory
.RData
tests/testthat/testdata
tests/testthat/plots
*.rds
metadatadir
metadata
vignettes/metadata
vignettes/*.csv
vignettes/figure
vignettes/tables
tables
vignettes/.build.timestamp
